{% extends "base.html" %}
{% block content %}
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 class="post-title" itemprop="headline">Archives for {{ SITENAME }}</h1>     
    </header>
    <section class="post-content">
        <a rel="nofollow" href="https://www.freelancer.com/affiliates/abr4xas/" target="_blank"><img src="https://cdn2.f-cdn.com/static/img/affiliates/freelancer-banner-728x90-2.gif?v=566be78f5285cfeeddf0ee42d168606c&m=2" alt="Freelance Jobs"></a>
        <div itemprop="text">
            <dl>
            {% for article in dates %}
                <dt>
                    <time itemprop="datePublished" datetime=" {{ article.locale_date }}">
                        <a href="#" class="tooltip-bottom" data-tooltip="Published">
                            <i class="fa fa-calendar"></i>
                             {{ article.locale_date }}
                        </a>
                    </time>
                </dt>
                <dd>
                    <a itemprop="url" href="{{ SITEURL }}/{{ article.url }}">
                        {{ article.title }}
                    </a>
                </dd>
            {% endfor %}
            </dl>
        </div>
        <hr>
{% include 'donate.html' %}
    </section>
    {% include 'ads.html' %}
</article>
{% endblock %}