{% extends "base.html" %}
{% block content %}
<main class="content" role="main" itemprop="mainContentOfPage" itemscope="" itemtype="http://schema.org/Blog">
    <section>
            {% for article in articles_page.object_list %}
                <article class="preview" itemscope itemtype="http://schema.org/BlogPosting">
                    <header>
                        <h1 class="post-title" itemprop="headline">
                            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
                                {{ article.title|striptags }}
                            </a>
                        </h1>
                        <div class="post-meta">
                            <small>
                                <time itemprop="datePublished" datetime="{{ article.date|strftime('%YYYY-%MM-%DD') }}">
                                    <a href="#" class="tooltip-bottom" data-tooltip="Published @ {{ article.date|strftime('%YYYY-%MM-%DD') }}">
                                        <i class="fa fa-calendar"></i>
                                        {{ article.date|strftime('%A, %B %d, %Y') }}
                                    </a>   
                                </time>
                                <span class="entry-author" itemscope="" itemtype="http://schema.org/Person" itemprop="author">    
                                    <a href="#" itemprop="url" rel="author" class="tooltip-bottom" data-tooltip="Published by {{ article.author }}">
                                        <i class="fa fa-user"></i>
                                        <span itemprop="name">
                                            {{ article.author }}
                                        </span>    
                                    </a>  
                                </span> 
                            </small>    
                        </div>
                    </header>
                    <section class="post-excerpt">
                        <div itemprop="text">
                            {{ article.summary }}
                        </div>    
                        <p class="readmore">
                            <a itemprop="url" href="{{ SITEURL }}/{{ article.url}}" class="tooltip-bottom" data-tooltip="Read this article" title="Read this article" rel="bookmark">
                                Read this article 
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </p>
                    </section>
                </article>
            {% endfor %}
    {% include 'pagination.html' %}
    </section><!-- /#content -->
</main><!-- /main -->
{% endblock content %}