{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <header>
        <h1 class="post-title" itemprop="headline">{{ page.title|striptags }}</h1>
        <div class="post-meta">
            <time itemprop="datePublished" datetime="{{ page.date|strftime('%YYYY-%MM-%DD') }}">
                <a href="#" class="tooltip-bottom" data-tooltip="Published">
                    <i class="fa fa-calendar"></i>
                    {{ page.date|strftime('%A, %B %d, %Y') }}
                </a>
            </time>
            <span class="entry-author" itemscope="" itemtype="http://schema.org/Person" itemprop="author">   
                <a href="#" itemprop="url" rel="author" class="tooltip-bottom" data-tooltip="Published by">
                    <i class="fa fa-user"></i>
                    <span itemprop="name">
                        {{ page.author }}
                    </span>
                </a>
            </span>
        </div>
    </header>
    <section class="post-content">
        <div itemprop="text">
            {{ page.content }}
        </div>
        <hr>
{% include 'donate.html' %}
    </section>
 {% include 'ads.html' %}    
</article>
{% endblock %}