{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}


    <article class="post">
        <header>
        <h1 class="post-title">{{ page.title|striptags }}</h1>
        <div class="post-meta"><time datetime="{{ page.date|strftime('%YYYY-%MM-%DD') }}">{{ page.date|strftime('%A, %B %d, %Y') }}</time></div>
        </header>

        <section class="post-content">
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(page) }}        
        {{ page.content }}
        <hr>
        <small>Si deseas realizar una donacion via PayPal puedes hacerlo dandole un clic al cerdito... <br /> Gracias!!</small>

<form class="text-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="RKG8G3ABP4XSW">
<input type="image" src="{{ SITEURL }}/theme/images/1412723932_money_box.svg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>     
        </section>
    </article>
{% endblock %}
